@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Bold';
  font-display: swap;
  src: url("../fonts/Intro-Bold.woff") format("woff"), url("../fonts/Intro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1387px;
  margin: 0 auto;
  padding: 0 34px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.blackout,
body.blackout {
  overflow: hidden;
}

html.blackout a,
body.blackout a {
  pointer-events: none;
}

html.blackout .header-menu a,
body.blackout .header-menu a {
  pointer-events: auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
  pointer-events: none;
}

.header {
  background: #FFFFFF;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 0;
  background: #FFFFFF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin-right: 60px;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  color: #1B1B1B;
}

.header__link + .header__link {
  margin-left: 24px;
}

.header__link:hover {
  color: #D0D3E2;
}

.header__link:active {
  color: #354BB4;
}

.header__button {
  padding: 12px 30px;
  border: 1px solid #354BB4;
  font-size: 18px;
  line-height: 20px;
  color: #354BB4;
  margin-right: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__button:hover {
  background: #354BB4;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__button:active {
  background: #15256E;
  color: #FFFFFF;
  border: 1px solid #15256E;
}

.menu__body._active {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.main {
  background: #15256E;
}

.time {
  padding: 20px 0;
}

.time__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/Broadcast/time/background.png");
  background-repeat: no-repeat;
  padding: 56px 0 75px;
  position: relative;
}

.time__inner:before {
  content: '';
  position: absolute;
  background-image: url("../img/Broadcast/time/bLogo.svg");
  background-size: cover;
  width: 120px;
  height: 120px;
  top: 10px;
  left: 10px;
}

.time__title {
  font-family: Intro Bold;
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
  margin-bottom: 25px;
}

.time__wrapper {
  font-family: Intro Bold;
  font-size: 20px;
  line-height: 120%;
  color: #1B1B1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time__wrapper span {
  font-size: 46px;
}

.time__minutes {
  margin-left: 60px;
}

.time__seconds {
  margin-left: 60px;
}

.info__inner {
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  font-family: Intro Bold;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 15px;
  max-width: 1091px;
}

.info__text {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 15px;
  max-width: 967px;
}

.info__text a {
  color: #FFFFFF;
  margin-left: 20px;
  position: relative;
}

.info__text a:before {
  content: '...';
  position: absolute;
  left: -20px;
  color: #FFFFFF;
}

.info__text a:hover {
  color: #D0D3E2;
}

.info__text a:active {
  color: #354BB4;
}

.info__text.hidden {
  display: none;
}

.info__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #B9C5F1;
}

.info__tag {
  font-size: 16px;
  line-height: 150%;
  color: #354BB4;
  background: #ECEFFF;
  border-radius: 45px;
  padding: 6px 24px;
}

.info__tag + .info__tag {
  margin-left: 12px;
}

.info__link {
  cursor: pointer;
}

.info__link.active {
  display: none;
}

.info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

.info-top__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-top__aux {
  display: none;
}

.info-top__link {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  position: relative;
  padding-left: 20px;
}

.info-top__link:before,
.info-top__link:after {
  content: '';
  width: 10px;
  height: 1.5px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.info-top__link:before {
  top: 13px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info-top__link:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info-top__link:hover {
  color: #D0D3E2;
}

.info-top__link:hover:before,
.info-top__link:hover:after {
  background-color: #D0D3E2;
}

.info-top__link:active {
  color: #354BB4;
}

.info-top__link:active:before,
.info-top__link:active:after {
  background-color: #354BB4;
}

.info-top__time {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 25px;
  padding-left: 28px;
  position: relative;
}

.info-top__time span {
  opacity: 0.5;
}

.info-top__time:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/Broadcast/info/clock.svg");
  left: 0;
}

.info-top__count {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 25px;
  padding-left: 28px;
  position: relative;
}

.info-top__count span {
  opacity: 0.5;
}

.info-top__count:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/Broadcast/info/count.svg");
  left: 0;
}

.info-top__share {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  padding-right: 32px;
}

.info-top__share:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/Broadcast/info/Frame.png");
  right: 0;
}

.info-top__share:hover {
  color: #D0D3E2;
}

.info-top__share:hover:after {
  background-image: url("../img/Broadcast/info/Frame2.png");
}

.info-top__share:active {
  color: #354BB4;
}

.info-top__share:active:after {
  background-image: url("../img/Broadcast/info/Frame3.png");
}

.speakers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  padding-top: 40px;
}

.speakers__title {
  font-family: Intro Bold;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 0 22px;
  margin-bottom: 25px;
}

.speakers__list {
  min-width: 0;
  max-width: 100%;
}

.speakers__item {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speakers__image {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}

.speakers__name {
  font-family: Intro Bold;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.speakers__text {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.5;
}

.auxiliary-slider {
  max-width: 100%;
  padding: 0 22px;
}

.swiper-wrapper {
  min-width: 0;
}

.swiper-button-prev.first {
  width: 52px;
  height: 52px;
  text-align: center;
}

.swiper-button-prev.first:hover:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #D0D3E2;
}

.swiper-button-prev.first:active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #FFFFFF;
  background: #354BB4;
}

.swiper-button-prev.first:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  bottom: 20px;
  left: -10px;
  z-index: 2;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 52px;
  color: #354BB4;
  font-size: 15px;
}

.swiper-button-prev.first:after:hover {
  background: #000;
}

.swiper-button-prev.first[aria-disabled='true'] {
  display: none;
}

.swiper-button-next.first {
  width: 52px;
  height: 52px;
  text-align: center;
}

.swiper-button-next.first:hover:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #D0D3E2;
}

.swiper-button-next.first:active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #FFFFFF;
  background: #354BB4;
}

.swiper-button-next.first:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  bottom: 20px;
  right: -10px;
  z-index: 2;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 52px;
  color: #354BB4;
  font-size: 15px;
}

.swiper-button-next.first[aria-disabled='true'] {
  display: none;
}

.swiper-pagination.first {
  right: 30%;
  left: 30%;
  bottom: 0%;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  border-radius: 0;
  background-color: #fff;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 5px;
}

.chairmen__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  padding-top: 40px;
  padding-bottom: 104px;
}

.chairmen__title {
  font-family: Intro Bold;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 0 22px;
  margin-bottom: 25px;
}

.chairmen__list {
  min-width: 0;
  max-width: 100%;
}

.chairmen__list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.chairmen__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.28%;
          flex: 0 0 14.28%;
}

.chairmen__image {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}

.chairmen__name {
  font-family: Intro Bold;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.chairmen__text {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.5;
}

.swiper-pagination.two {
  right: 30%;
  left: 30%;
  bottom: 0%;
}

.swiper-button-prev.two {
  width: 52px;
  height: 52px;
  text-align: center;
}

.swiper-button-prev.two:hover:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #D0D3E2;
}

.swiper-button-prev.two:active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #FFFFFF;
  background: #354BB4;
}

.swiper-button-prev.two:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  bottom: 20px;
  left: -10px;
  z-index: 2;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 52px;
  color: #354BB4;
  font-size: 15px;
}

.swiper-button-prev.two:after:hover {
  background: #000;
}

.swiper-button-prev.two[aria-disabled='true'] {
  display: none;
}

.swiper-button-next.two {
  width: 52px;
  height: 52px;
  text-align: center;
}

.swiper-button-next.two:hover:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #D0D3E2;
}

.swiper-button-next.two:active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #FFFFFF;
  background: #354BB4;
}

.swiper-button-next.two:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  bottom: 20px;
  right: -10px;
  z-index: 2;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 52px;
  color: #354BB4;
  font-size: 15px;
}

.swiper-button-next.two[aria-disabled='true'] {
  display: none;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0 41px 0;
  background: #FFFFFF;
}

.footer__sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
}

.footer__text {
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
  margin-bottom: 6px;
}

.footer__number a {
  font-size: 14px;
  line-height: 120%;
  color: #354BB4;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
  text-align: right;
  font-size: 14px;
  line-height: 120%;
}

.footer__info span {
  color: #000;
}

.footer__info span img {
  max-width: 16px;
  max-height: 16px;
}

@media (min-width: 767px) {
  .swiper-pagination.first {
    display: none;
  }

  .swiper-pagination.two {
    display: none;
  }
}

@media (max-width: 1365px) {
  .chairmen__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 1319px) {
  .header__list {
    margin-right: 45px;
  }

  .header__link {
    font-size: 14px;
    line-height: 18px;
  }

  .header__link + .header__link {
    margin-left: 21px;
  }

  .header__button {
    padding: 10px 25px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1023px) {
  .menu__icon {
    pointer-events: auto;
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 0px;
  }

  .menu__icon._active {
    padding: 15px;
    background: #fff;
  }

  .menu__icon._active::before,
  .menu__icon._active::after {
    left: 20%;
  }

  .menu__icon._active::before,
  .menu__icon._active::after,
  .menu__icon._active span {
    height: 1.5px;
    width: 15px;
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 2px;
    width: 25px;
    -webkit-transition: all 0.3 ease 0s;
    -o-transition: all 0.3 ease 0s;
    transition: all 0.3 ease 0s;
    background-color: #3D4FA2;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .header__list {
    pointer-events: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 32px;
    background: #FFFFFF;
    overflow: auto;
    padding: 50px;
    right: -100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    z-index: 10;
  }

  .header__list._active {
    right: 18px;
  }

  .header__link + .header__link {
    margin-left: 0;
    margin-top: 20px;
  }

  .header__button {
    padding: 12px 30px;
    font-size: 18px;
    line-height: 20px;
    margin-right: 50px;
  }

  .header__button {
    margin-right: 20px;
  }

  .info__inner {
    border-bottom: 1px solid #B9C5F1;
  }

  .info__tags {
    border-bottom: 0 solid #B9C5F1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__tag {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .info__tag + .info__tag {
    margin-top: 12px;
    margin-left: 0;
  }

  .swiper-button-prev.first {
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev.first:after {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next.first {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next.first:after {
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev.two {
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev.two:after {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next.two {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next.two:after {
    width: 30px;
    height: 30px;
  }

  .footer__inner {
    padding-bottom: 10px;
  }

  .footer__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .footer__sn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__text {
    margin-bottom: 10px;
  }

  .footer__date {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__number {
    margin-bottom: 10px;
  }

  .footer__info {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 1043px;
    padding: 0 10px;
  }

  .header__list._active {
    right: -5px;
  }

  .time__inner:before {
    width: 67px;
    height: 67px;
  }

  .time__inner {
    background-image: url("../img/Broadcast/time/backgroundVideo.png");
    padding: 173px 0;
  }

  .time__wrapper span {
    font-size: 32px;
  }

  .time__wrapper {
    font-size: 14px;
  }

  .time__minutes {
    margin-left: 20px;
  }

  .time__seconds {
    margin-left: 20px;
  }

  .info__inner {
    padding: 0;
  }

  .info__title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .info__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .info__tag {
    font-size: 14px;
  }

  .info-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-top__aux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }

  .info-top__link {
    font-size: 14px;
  }

  .info-top__time {
    margin-left: 0px;
  }

  .info-top__time {
    font-size: 14px;
  }

  .info-top__count {
    font-size: 14px;
    margin-left: 14px;
  }

  .info-top__share {
    font-size: 14px;
  }

  .speakers__title {
    font-size: 16px;
    padding: 0;
  }

  .speakers__text {
    font-size: 14px;
  }

  .auxiliary-slider {
    padding: 30px 0;
  }

  .swiper-button-prev.first {
    display: none;
  }

  .swiper-button-next.first {
    display: none;
  }

  .swiper-button-prev.two {
    display: none;
  }

  .swiper-button-next.two {
    display: none;
  }

  .footer__sn {
    margin-top: 35px;
  }

  .footer__info {
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid #354BB4;
  }
}

@media (max-width: 560px) {
  .time__inner {
    padding: 43px 0 52px;
  }
}

@media (max-width: 400px) {
  .footer__logo {
    margin-right: 10px;
  }
}

@media (max-width: 350px) {
  .info-top__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-top__count {
    margin-left: 0;
    margin-top: 10px;
  }
}
@supports (-webkit-appearance:none){
.time__inner{background-image:url("../img/Broadcast/time/background.webp")}
.time__inner:before{background-image:url("../img/Broadcast/time/bLogo.svg")}
.info-top__time:before{background-image:url("../img/Broadcast/info/clock.svg")}
.info-top__count:before{background-image:url("../img/Broadcast/info/count.svg")}
.info-top__share:after{background-image:url("../img/Broadcast/info/Frame.webp")}
.info-top__share:hover:after{background-image:url("../img/Broadcast/info/Frame2.webp")}
.info-top__share:active:after{background-image:url("../img/Broadcast/info/Frame3.webp")}
}

 @media (min-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1365px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1319px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1023px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){
.time__inner{background-image:url("../img/Broadcast/time/backgroundVideo.webp")}
}

}

 @media (max-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 350px){

@supports (-webkit-appearance:none){

}

}
