@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Bold';
  font-display: swap;
  src: url("../fonts/Intro-Bold.woff") format("woff"), url("../fonts/Intro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1387px;
  margin: 0 auto;
  padding: 0 34px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.blackout,
body.blackout {
  overflow: hidden;
}

html.blackout a,
body.blackout a {
  pointer-events: none;
}

html.blackout .header-menu a,
body.blackout .header-menu a {
  pointer-events: auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
  pointer-events: none;
}

.header {
  background: #FFFFFF;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 0;
  background: #FFFFFF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin-right: 60px;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  color: #1B1B1B;
}

.header__link + .header__link {
  margin-left: 24px;
}

.header__link:hover {
  color: #D0D3E2;
}

.header__link:active {
  color: #354BB4;
}

.header__button {
  padding: 12px 30px;
  border: 1px solid #354BB4;
  font-size: 18px;
  line-height: 20px;
  color: #354BB4;
  margin-right: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__button:hover {
  background: #354BB4;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__button:active {
  background: #15256E;
  color: #FFFFFF;
  border: 1px solid #15256E;
}

.menu__body._active {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.main {
  background: #15256E;
}

.top__inner {
  padding: 34px 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/ProgramPage/top/background.png");
  background-repeat: no-repeat;
  background-position: 140% 50%;
}

.top-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.top-header__nav span {
  width: 5px;
  height: 5px;
  background-color: #fff;
  margin: auto 17px;
}

.top-header__item {
  color: #FFFFFF;
  opacity: 0.8;
}

.top-header__item:last-child {
  opacity: 1;
}

.top-header__title {
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.top-search {
  margin-bottom: 54px;
}

.top-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.top-search form:hover input {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  border-bottom: 1px solid #FFFFFF;
}

.top-search form:hover input::-webkit-input-placeholder {
  -webkit-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search form:hover input::-moz-placeholder {
  -moz-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search form:hover input:-ms-input-placeholder {
  -ms-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search form:hover input::-ms-input-placeholder {
  -ms-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search form:hover input::placeholder {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search form:hover button svg g {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search input[type='search'] {
  width: 100%;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  background-color: rgba(0, 120, 201, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-right: 23px;
}

.top-search input[type='search']:focus {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  border-bottom: 1px solid #FFFFFF;
}

.top-search input[type='search']:focus::-webkit-input-placeholder {
  color: transparent;
}

.top-search input[type='search']:focus::-moz-placeholder {
  color: transparent;
}

.top-search input[type='search']:focus:-ms-input-placeholder {
  color: transparent;
}

.top-search input[type='search']:focus::-ms-input-placeholder {
  color: transparent;
}

.top-search input[type='search']:focus::placeholder {
  color: transparent;
}

.top-search input[type='search']:focus + button svg g {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  opacity: 1;
}

.top-search input[type='search']::-webkit-input-placeholder {
  -webkit-transition: .1s;
  transition: .1s;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.top-search input[type='search']::-moz-placeholder {
  -moz-transition: .1s;
  transition: .1s;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.top-search input[type='search']:-ms-input-placeholder {
  -ms-transition: .1s;
  transition: .1s;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.top-search input[type='search']::-ms-input-placeholder {
  -ms-transition: .1s;
  transition: .1s;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.top-search input[type='search']::placeholder {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.top-search input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.top-search input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.top-search input[type='search']::-webkit-search-decoration,
.top-search input[type='search']::-webkit-search-cancel-button,
.top-search input[type='search']::-webkit-search-results-button,
.top-search input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.top-search button {
  position: relative;
  background-color: rgba(0, 120, 201, 0);
  right: 20px;
  bottom: -2px;
}

.top-search__spoiler.active {
  font-family: Intro Bold;
  font-size: 14px;
  line-height: 160%;
  color: #1B1B1B;
  background: #FFFFFF;
  padding: 11px 50px 9px 28px;
  position: relative;
}

.top-search__spoiler.active:after,
.top-search__spoiler.active:before {
  content: '';
  width: 2px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 42%;
}

.top-search__spoiler.active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  right: 26px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.top-search__spoiler.active:before {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  right: 32px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.top-search__spoiler.done {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.top-search__spoiler.done:after,
.top-search__spoiler.done:before {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background-color: #FFFFFF;
}

.top-search__spoiler.done:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.top-search__spoiler.done:before {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filters {
  width: 100%;
  display: block;
}

.filters-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.filters-large__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-large__wrapper:nth-child(1) {
  width: 476px;
}

.filters-large__wrapper:nth-child(1) .filters-large__item {
  font-family: Intro Bold;
  width: 33.333%;
}

.filters-large__wrapper:nth-child(2) {
  width: 804px;
}

.filters-large__wrapper:nth-child(2) .filters-large__item {
  width: 186px;
  padding: 14px 0 12px;
  opacity: 1;
  font-size: 16px;
}

.filters-large__title {
  font-family: Intro Bold;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.filters-large__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters-large__item {
  padding-top: 10px;
  padding-bottom: 8px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.76;
}

.filters-large__item:hover {
  color: #FFFFFF;
  opacity: 0.76;
  background: rgba(255, 255, 255, 0.3);
}

.filters-large__item.active {
  background: #FFFFFF;
  color: #354BB4;
  opacity: 1;
}

.filters-large__close {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.filters-large__close:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #354BB4;
}

.filters-large__close:hover:before,
.filters-large__close:hover:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #ffffff;
}

.filters-large__close:active {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #15256E;
}

.filters-large__close:active:before,
.filters-large__close:active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #ffffff;
}

.filters-large__close:before,
.filters-large__close:after {
  content: '';
  width: 1.5px;
  height: 17px;
  background: #354BB4;
  position: absolute;
  left: 47%;
  top: 35%;
}

.filters-large__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filters-large__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filters-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters-small__item {
  cursor: pointer;
  padding: 8px 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 45px;
  margin-bottom: 14px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
}

.filters-small__item:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: rgba(255, 255, 255, 0.3);
}

.filters-small__item:active {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #354BB4;
}

.filters-small__item.active {
  background: #354BB4;
}

.filters-small__close {
  cursor: pointer;
  font-size: 16px;
  line-height: 150%;
  color: #354BB4;
  padding: 8px 19px 8px 47px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 37px;
  margin-bottom: 14px;
  position: relative;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.filters-small__close:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #D0D3E2;
}

.filters-small__close:active {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #354BB4;
  color: #FFFFFF;
}

.filters-small__close:active:before,
.filters-small__close:active:after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #ffffff;
}

.filters-small__close:before,
.filters-small__close:after {
  content: '';
  width: 1.5px;
  height: 17px;
  background: #354BB4;
  position: absolute;
  left: 24px;
  top: 30%;
}

.filters-small__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filters-small__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.programs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs__main {
  margin-bottom: 20px;
}

.programs__button {
  font-size: 18px;
  line-height: 20px;
  color: #1B1B1B;
  padding: 12px 54px 12px 28px;
  background: #FFFFFF;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-bottom: 36px;
  cursor: pointer;
}

.programs__button:before,
.programs__button:after {
  content: '';
  position: absolute;
  background-color: #1B1B1B;
  height: 2px;
  width: 10px;
  top: 47%;
}

.programs__button:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 26px;
}

.programs__button:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 32px;
}

.programs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programs-item__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 24px 42px 30px;
  width: 68%;
}

.programs-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.programs-item__places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs-item__places span {
  width: 5px;
  height: 5px;
  background: #354BB4;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 17px;
}

.programs-item__place {
  font-size: 16px;
  line-height: 150%;
  color: #1B1B1B;
}

.programs-item__place:last-child {
  color: #354BB4;
}

.programs-item__share {
  font-size: 16px;
  line-height: 20px;
  color: #1B1B1B;
  position: relative;
  padding-right: 32px;
}

.programs-item__share:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  background-image: url("../img/ProgramPage/programs/Frame.png");
}

.programs-item__share:hover {
  color: #354BB4;
}

.programs-item__share:active {
  color: #1B1B1B;
}

.programs-item__share:active:after {
  background-image: url("../img/MainPage/program/Frame3.png");
}

.programs-item__title {
  font-family: Intro Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #1B1B1B;
  margin-bottom: 14px;
}

.programs-item__text {
  font-size: 16px;
  line-height: 150%;
  color: #1B1B1B;
  max-width: 700px;
  margin-bottom: 30px;
}

.programs-item__text a {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-size: 16px;
  line-height: 20px;
  color: #354BB4;
  border-bottom: 1px solid #354BB4;
  margin-left: 10px;
}

.programs-item__text a:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #15256E;
  border-bottom: 1px solid #15256E;
}

.programs-item__text a:active {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #1B1B1B;
  border-bottom: 1px solid #1B1B1B;
}

.programs-item__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs-item__chairmens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs-item__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #1B1B1B;
  opacity: 0.5;
  margin-bottom: 6px;
}

.programs-item__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs-item__images span {
  margin-left: 10px;
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
  -ms-flex-item-align: center;
      align-self: center;
  display: none;
}

.programs-item__images span.active {
  display: block;
}

.programs-item__image.deactive {
  display: none;
}

.programs-item__speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 54px;
}

.programs-item__aux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #354BB4;
}

.programs-item__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 95px 36px 82px;
  border-bottom: 1px solid #354BB4;
}

.programs-item__date span {
  opacity: 0.5;
  width: 1px;
  height: 100%;
  background-color: #354BB4;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0 20px;
}

.programs-item__day {
  font-family: Intro Bold;
  font-size: 20px;
  line-height: 160%;
  color: #354BB4;
}

.programs-item__hours {
  font-family: Intro Bold;
  font-size: 20px;
  line-height: 160%;
  color: #1B1B1B;
}

.programs-item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0 0 40px;
}

.programs-item__tag {
  font-size: 16px;
  line-height: 150%;
  color: #354BB4;
  background: #ECEFFF;
  border-radius: 45px;
  padding: 6px 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.programs-item__tag + .programs-item__tag {
  margin-top: 12px;
}

.programs-item + .programs-item {
  margin-top: 20px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0 41px 0;
  background: #FFFFFF;
}

.footer__sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
}

.footer__text {
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 120%;
  color: #1B1B1B;
  margin-bottom: 6px;
}

.footer__number a {
  font-size: 14px;
  line-height: 120%;
  color: #354BB4;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
  text-align: right;
  font-size: 14px;
  line-height: 120%;
}

.footer__info span {
  color: #000;
}

.footer__info span img {
  max-width: 16px;
  max-height: 16px;
}

@media (max-width: 1365px) {
  .programs-item__main {
    width: 74%;
  }

  .programs-item__date {
    padding: 14px 62px 12px 51px;
  }

  .programs-item__day {
    font-size: 14px;
  }

  .programs-item__hours {
    font-size: 14px;
  }

  .programs-item__tags {
    padding: 20px 33px 10px 20px;
  }

  .programs-item__tag + .programs-item__tag {
    margin-top: 4px;
  }

  .programs-item__tag {
    font-size: 14px;
  }
}

@media (max-width: 1319px) {
  .header__list {
    margin-right: 45px;
  }

  .header__link {
    font-size: 14px;
    line-height: 18px;
  }

  .header__link + .header__link {
    margin-left: 21px;
  }

  .header__button {
    padding: 10px 25px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1255px) {
  .programs-item__date {
    padding: 20px 30px 10px 35px;
  }

  .programs-item__tags {
    padding: 20px 5px 10px 5px;
  }
}

@media (max-width: 1100px) {
  .programs-item__tag {
    padding: 6px 16px;
  }
}

@media (max-width: 1023px) {
  .menu__icon {
    pointer-events: auto;
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 0px;
  }

  .menu__icon._active {
    padding: 15px;
    background: #fff;
  }

  .menu__icon._active::before,
  .menu__icon._active::after {
    left: 20%;
  }

  .menu__icon._active::before,
  .menu__icon._active::after,
  .menu__icon._active span {
    height: 1.5px;
    width: 15px;
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 2px;
    width: 25px;
    -webkit-transition: all 0.3 ease 0s;
    -o-transition: all 0.3 ease 0s;
    transition: all 0.3 ease 0s;
    background-color: #3D4FA2;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .header__list {
    pointer-events: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 32px;
    background: #FFFFFF;
    overflow: auto;
    padding: 50px;
    right: -100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    z-index: 10;
  }

  .header__list._active {
    right: 18px;
  }

  .header__link + .header__link {
    margin-left: 0;
    margin-top: 20px;
  }

  .header__button {
    padding: 12px 30px;
    font-size: 18px;
    line-height: 20px;
    margin-right: 50px;
  }

  .header__button {
    margin-right: 20px;
  }

  .top-header__nav {
    font-size: 14px;
  }

  .top-header__title {
    font-size: 18px;
  }

  .top-search input[type='search'] {
    font-size: 14px;
  }

  .top-search input[type='search']::-webkit-input-placeholder {
    font-size: 14px;
  }

  .top-search input[type='search']::-moz-placeholder {
    font-size: 14px;
  }

  .top-search input[type='search']:-ms-input-placeholder {
    font-size: 14px;
  }

  .top-search input[type='search']::-ms-input-placeholder {
    font-size: 14px;
  }

  .top-search input[type='search']::placeholder {
    font-size: 14px;
  }

  .top-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .filters {
    display: none;
  }

  .filters-large__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .filters-large__wrapper:nth-child(1) .filters-large__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 159px;
  }

  .filters-large__wrapper:nth-child(1) {
    width: auto;
  }

  .filters-large__wrapper:nth-child(2) .filters-large__item {
    max-width: 159px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 13.5px 6px 11.5px;
    font-size: 14px;
  }

  .filters-large__wrapper:nth-child(2) {
    width: auto;
  }

  .filters-large__wrapper + .filters-large__wrapper {
    margin-top: 50px;
  }

  .filters-large__title {
    margin-bottom: 0;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 35px;
    width: 37px;
    font-size: 14px;
  }

  .filters-large__item {
    font-size: 14px;
  }

  .filters-large__close {
    margin-left: 6px;
    width: 46px;
    height: 46px;
  }

  .filters-small__item {
    font-size: 14px;
  }

  .filters-small__close {
    font-size: 14px;
  }

  .filters-small__close:before,
  .filters-small__close:after {
    height: 15px;
  }

  .programs-item__main {
    width: 60%;
    padding: 14px 24px 20px 20px;
  }

  .programs-item__top {
    margin-bottom: 14px;
  }

  .programs-item__place {
    font-size: 14px;
  }

  .programs-item__share {
    font-size: 14px;
  }

  .programs-item__title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .programs-item__text {
    max-height: 51px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    position: relative;
    max-width: 366px;
    padding-right: 5px;
    margin-bottom: 20px;
  }

  .programs-item__text a {
    display: none;
  }

  .programs-item__text:after {
    content: '...';
    position: absolute;
    bottom: 3px;
    right: -1px;
  }

  .programs-item__subtitle {
    font-size: 14px;
  }

  .programs-item__image {
    width: 50px;
    height: 50px;
  }

  .programs-item__speakers {
    margin-left: 2px;
  }

  .programs-item__date {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .footer__inner {
    padding-bottom: 10px;
  }

  .footer__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .footer__sn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__text {
    margin-bottom: 10px;
  }

  .footer__date {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__number {
    margin-bottom: 10px;
  }

  .footer__info {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 1043px;
    padding: 0 10px;
  }

  .header__list._active {
    right: -5px;
  }

  .top-search form {
    width: 295px;
  }

  .top-search__spoiler.active:after {
    right: 130px;
  }

  .top-search__spoiler.active:before {
    right: 136px;
  }

  .top-search__spoiler.active {
    margin-top: 59px;
    padding: 11px 154px 9px 124px;
  }

  .top-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }

  .filters-large__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .filters-large__wrapper:nth-child(1) .filters-large__item {
    width: 33.333%;
  }

  .filters-large__wrapper:nth-child(1) .filters-large__inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .filters-large__wrapper:nth-child(1) {
    width: 100%;
  }

  .filters-large__wrapper:nth-child(2) .filters-large__item {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .filters-large__wrapper:nth-child(2) {
    width: 100%;
  }

  .filters-large__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .filters-large__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .filters-large__close {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-left: 0;
  }

  .programs__button {
    font-size: 16px;
  }

  .programs-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .programs-item__main {
    width: 100%;
  }

  .programs-item__date span {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 24px;
  }

  .programs-item__date {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 14px 62px 12px 20px;
    border-top: 1px solid #354BB4;
  }

  .footer__sn {
    margin-top: 35px;
  }

  .footer__info {
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid #354BB4;
  }
}

@media (max-width: 480px) {
  .programs-item__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .programs-item__share {
    margin-top: 10px;
    display: inline;
  }

  .programs-item__share:after {
    right: auto;
    left: 100px;
  }
}

@media (max-width: 400px) {
  .programs-item__text {
    max-width: 302px;
  }

  .programs-item__text:after {
    right: 26%;
  }

  .footer__logo {
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .top-search__spoiler.active:after {
    right: 40px;
  }

  .top-search__spoiler.active:before {
    right: 46px;
  }

  .top-search__spoiler.active {
    padding: 11px 75px 9px 50px;
  }
}
@supports (-webkit-appearance:none){
.top__inner{background-image:url("../img/ProgramPage/top/background.webp")}
.programs-item__share:after{background-image:url("../img/ProgramPage/programs/Frame.webp")}
.programs-item__share:active:after{background-image:url("../img/MainPage/program/Frame3.webp")}
}

 @media (max-width: 1365px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1319px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1255px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1023px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
